.dropdown .text {
  font-size: 20px;
  cursor: pointer;
}

.dropdown .text::before {
  content: "▶";
  font-size: 20px;
  padding-right: 2px;
  color: rgba(71, 233, 238, 0.864);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  display: none;
}

.dropdown.open .text::before {
  content: "▼";
}

.dropdown.open .list {
  display: block;
}
