.additional {
    padding-top: 200px;
}

.additional__title {
    font-size: 42px;
line-height: 33px;
color: #393939;
font-family: "Reey-Regular";
}

.additional__text {
    font-size: 19px;
line-height: 25px;
color: #333d42;
font-weight: 400;
font-family: "Open Sans";
}

.additional__description {
    padding-top: 200px;
    max-width: 817px;
font-size: 25px;
color: #3f3f3f;
font-weight: 600;
font-family: "Open Sans";
}

.additional__signature {
    font-size: 21px;
line-height: 33px;
color: #3f3f3f;
font-weight: 700;
font-family: "Open Sans";
}