.footer__block {
    min-height: 800px;
    color: #343434;
font-weight: 400;
font-family: "Montserrat";
font-size: 24px;
}

.footer__title  {
    font-size: 32px;

}
.footer__text {
    max-width: 640px;
}
.social__media-icon {
    fill: currentColor;
    width: 17px;
    height: 22px;
}

.footer__list {
    padding-left: 0;
}