.intro {
    background-color: #000000;
    background: url(../img/headerBackground.png) no-repeat;
    background-size: cover;
    // height: 1056px;
}
.nav-link {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}

.inputSearch {
    border-radius: 20rem;
    height: 51px;
    background: #fff;
    margin-left: 1rem;
    padding-left: 5px;
}
.imgSearch {
    margin-right: 30px;
}