.ourStory {
    background-color: #27292c;
}

.ourStory__title {
    font-size: 75px;
    line-height: 52px;
    font-family: "Reey-Regular";
}

.ourStory__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Montserrat";
}

.ourStory__button {
    opacity: 0.902;
    width: 270px;
    height: 58px;
    border-radius: 22px;
    background-color: #fdfdfd;
    font-size: 26px;
    color: #27292c;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}