.promotion__title {
    font-size: 58px;
    color: #27292c;
    font-weight: 700;
    font-family: "Open Sans";
}

.promotion__text {
    width: 640px;
    height: 175px;
    font-size: 29px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}
.promotion__button {
        width: 334px;
        height: 75px;
        border-radius: 38px;
        background-color: #343434; 
        font-size: 23px;
    letter-spacing: 5px;
    line-height: 21px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Open Sans";
    
}