.grid {
  display: grid;
  justify-content: center;
  padding: 10px;
  grid-template-areas:
    "a a b c d"
    "e f g g h"
    "i j g g ."
    "k k k l m";
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.container {
  color: rgb(233, 241, 248);
  background-color: rgb(57, 55, 55);
  padding: 10px;
  border-radius: 10px;
}
.container_a {
  grid-area: a;
}
.container_b {
  grid-area: b;
}
.container_c {
  grid-area: c;
}
.container_d {
  grid-area: d;
}
.container_e {
  grid-area: e;
}
.container_f {
  grid-area: f;
}
.container_g {
  grid-area: g;
}
.container_h {
  grid-area: h;
}
.container_i {
  grid-area: i;
}
.container_j {
  grid-area: j;
}
.container_k {
  grid-area: k;
}
.container_l {
  grid-area: l;
}
.container_m {
  grid-area: m;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-areas:
      "a a b c d e f g g h i"
      "j k k k l m . g g . .";
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 5px;
  }
}
