/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

/* 
or scss:
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap');
</style>

+обнуление стилей импорт:*/
@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap");

@font-face {
  font-family: "Reey";
  src: url(../fonts/Reey-Regular.woff2) format("woff2"),
    url(../fonts/Reey-Regular.woff) format("woff"),
    url(../fonts/Reey-Regular.ttf) format("ttf");
}

.intro {
  background-image: url(../img/headerBackground.png);
}
.inputSearch {
  border-radius: 25px;
  width: 183px;
  height: 51px;
  background: #ffffff;
  outline: none;
  position: relative;
}
.buttonSearch {
  width: 30px;
  height: 30px;
  /* color: #343434; */
  border: none;
  font-size: 29px;
  right: 62px;
  top: 3px;
  line-height: 26px;
  margin-right: -26px;
  position: relative;
}
/* .card-body {
  background-color: black;
} */

.title {
  font-family: "Reey";
  font-weight: bold;
  font-size: 92px;
  color: white;
  padding: 80px 5px 80px 5px;
}
.card-text {
  color: white;
}
.my-flex {
  display: flex;
}
