ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  width: 25vw;
  padding: 10px;
  margin-bottom: 10px;
}

.container {
  height: 100px;
  background-color: rgb(255, 153, 0);
}
.item__container_violet {
  background-color: rgb(195, 0, 255);
}
.item__container_green {
  background-color: rgb(74, 231, 121);
}
.item__container_blue {
  background-color: blue;
}
li:nth-child(-n + 3) {
  margin-left: auto;
}
li:nth-child(n + 4) {
  margin-right: auto;
}
li:nth-child(n + 7) {
  margin: auto;
}

li:nth-last-child(-n + 3) {
  margin: auto;
  width: 30vw;
}
/* (100% -2 *20px)/3  */
