body {
  font-family: "Open Sans", "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.intro {
  background-color: #000000;
  background: url(../img/headerBackground.png) no-repeat;
  background-size: cover;
}

.nav-link {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
}

.inputSearch {
  border-radius: 20rem;
  height: 51px;
  background: #fff;
  margin-left: 1rem;
  padding-left: 5px;
}

.imgSearch {
  margin-right: 30px;
}

.logo {
  max-width: 140px;
}

@font-face {
  font-family: "Reey-Regular";
  src: url("../fonts/Reey-Regular.woff") format("woff"), url("../fonts/Reey-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.title {
  width: 640px;
  font-size: 92px;
  color: #ffffff;
  font-family: "Reey-Regular";
  filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}

.posttitle {
  width: 469px;
  height: 65px;
  font-size: 25px;
  letter-spacing: 5px;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
  font-family: "Open Sans";
  text-align: center;
  margin-bottom: 65px;
}

.button-hero {
  opacity: 0.902;
  width: 218px;
  height: 47px;
  border-radius: 21px;
  background-color: #ffffff;
  font-size: 25px;
  color: #2e3034;
  font-weight: 800;
  font-family: "Open Sans";
  text-align: center;
}

.description {
  max-width: 452px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-family: "Open Sans";
}

.leaves {
  bottom: -120px;
  left: 277px;
}

.spagetti {
  max-width: 100%;
  height: auto;
}

.souse {
  bottom: -100px;
}

.menu__title {
  font-size: 75px;
  color: #222328;
  font-family: "Reey-Regular";
}

.menu__description {
  max-width: 1788px;
  font-size: 27px;
  color: #2f3135;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.menu__card {
  border: none !important;
}

.menu__card-title {
  font-size: 29px;
  color: #343434;
  font-weight: 700;
  font-family: "Open Sans";
}

.menu__card-text {
  font-size: 23px;
  color: #343434;
  font-weight: 400;
  font-family: "Open Sans";
}

.menu__button {
  width: 334px;
  height: 75px;
  border-radius: 38px;
  background-color: #343434;
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Open Sans";
}

.ourStory {
  background-color: #27292c;
}

.ourStory__title {
  font-size: 75px;
  line-height: 52px;
  font-family: "Reey-Regular";
}

.ourStory__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Montserrat";
}

.ourStory__button {
  opacity: 0.902;
  width: 270px;
  height: 58px;
  border-radius: 22px;
  background-color: #fdfdfd;
  font-size: 26px;
  color: #27292c;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.promotion__title {
  font-size: 58px;
  color: #27292c;
  font-weight: 700;
  font-family: "Open Sans";
}

.promotion__text {
  width: 640px;
  height: 175px;
  font-size: 29px;
  color: #27292c;
  font-weight: 400;
  font-family: "Open Sans";
}

.promotion__button {
  width: 334px;
  height: 75px;
  border-radius: 38px;
  background-color: #343434;
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Open Sans";
}

.moreAbout {
  background-color: #000000;
  background: url(../img/headerBackground.png) no-repeat;
  background-size: cover;
  max-height: 1080px;
}

.moreAbout__leaves {
  top: 20%;
}

.moreAbout__title {
  font-size: 58px;
  color: #f8f6f1;
  font-family: "Reey-Regular";
}

.moreAbout__text {
  font-size: 25px;
  line-height: 33px;
  color: #f8f6f1;
  font-weight: 400;
  font-family: "Montserrat";
}

.moreAbout__underline {
  background-color: #fafafa;
  height: 10px;
  width: 160px;
}

.additional {
  padding-top: 200px;
}

.additional__title {
  font-size: 42px;
  line-height: 33px;
  color: #393939;
  font-family: "Reey-Regular";
}

.additional__text {
  font-size: 19px;
  line-height: 25px;
  color: #333d42;
  font-weight: 400;
  font-family: "Open Sans";
}

.additional__description {
  padding-top: 200px;
  max-width: 817px;
  font-size: 25px;
  color: #3f3f3f;
  font-weight: 600;
  font-family: "Open Sans";
}

.additional__signature {
  font-size: 21px;
  line-height: 33px;
  color: #3f3f3f;
  font-weight: 700;
  font-family: "Open Sans";
}

.subscribe {
  background-color: #27292c;
  height: 800px;
  padding-top: 200px;
}

.subscribe__leaves {
  top: 60%;
}

.subscribe__title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 75px;
  line-height: 60px;
}

.subscribe__text {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 29px;
  max-width: 890px;
}

.subscribe__input {
  height: 63px;
  width: 660px;
  border-radius: 32px;
  font-family: "Open Sans";
  font-size: 25px;
}

.subscribe__button {
  right: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 25px;
  padding: 14px 41px;
  letter-spacing: normal;
  right: 16%;
  width: 222px;
  height: 65px;
  border-radius: 32px;
  background-color: #54524f;
}/*# sourceMappingURL=main.css.map */