.grid {
  display: grid;
  justify-content: center;
  padding: 10px;
  grid-template-areas:
    "a a . b"
    "c d d d"
    "c d d d";
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.item {
  color: rgb(233, 241, 248);
  background-color: rgb(57, 55, 55);
  padding: 10px;
  border-radius: 10px;
}

.subitem {
  color: rgb(57, 55, 55);
  background-color: rgb(194, 189, 189);
  border-radius: 10px;
  padding: 10px;
}
.item_a {
  grid-area: a;
}
.item_b {
  grid-area: b;
}
.item_c {
  grid-area: c;
}
.item_d {
  grid-area: d;
  padding: 20px;
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "e e f f f"
    "e e . g g";
}
.item_e {
  grid-area: e;
}
.item_f {
  grid-area: f;
}
.item_g {
  grid-area: g;
}
